@import "./style/functions.scss";
@import "./style/font.css";
@import "./style/width.css";
@import "./style/bg.css";
@import "./style/acab-reset.css";
@import "./style/guide.css";


body {
  div {
    background-color: $yamaguchi-red;
    @include font_en(700);

    @include media-sp {
      margin-top: 500px;
    }

    // .block-profile{
    //   margin-top: 0;
    // }
  }

  div {
    .my160,
    .my80,
    .my40,
    .my32,
    .my20,
    .my16,
    .my12,
    .my8,
    .my6,
    {
      &:before {
        display: block;
        width: 100px;
        font-size: rem(12);
        text-align: center;
        border: 2px;
        border-style: dashed;
        border: 2px;
        border-style: dashed;
      }
    }

    .my160 {
      &:before {
        content: "160px";
        line-height: 14;
        height: rem(160);
        border-color: $y-gold;
        color: $y-gold;
      }
    }
    .my80 {
      &:before {
        content: "80px";
        line-height: 6;
        height: rem(80);
        border-color: $y-red;
        color: $y-red;
      }
    }
    .my40 {
      &:before {
        content: "40px";
        line-height: 3;
        height: rem(40);
        border-color: $y-green;
        color: $y-green;
      }
    }
    .my32 {
      &:before {
        content: "32px";
        line-height: 3;
        height: rem(32);
        border-color: $y-green;
        color: $y-green;
      }
    }
    .my20 {
      &:before {
        content: "20px";
        line-height: 1.5;
        height: rem(20);
        border-color: $y-lime;
        color: $y-lime;
      }
    }
    .my16 {
      &:before {
        content: "16px";
        line-height: 1;
        height: rem(16);
        border-color: $y-purple;
        color: $y-purple;
      }
    }
    .my12 {
      &:before {
        content: "12px";
        line-height: 0.75;
        height: rem(12);
        border-color: $y-blue;
        color: $y-blue;
      }
    }
    .my8 {
      &:before {
        content: "8px";
        line-height: 0.75;
        height: rem(8);
        border-color: $y-sky;
        color: $y-sky;
      }
    }
    .my6 {
      &:before {
        content: "6px";
        line-height: 0.75;
        height: rem(6);
        border-color: $y-pink;
        color: $y-pink;
      }
    }
  }


}





@font-face {
  font-family: sackers;
  src: url(asset/font/sackers.woff2) format(woff2);
}

.guide {
  z-index: 1000;
  background-image: url('img/bg-guide.webp');
  background-color: rgba(0, 0, 100, 0);
  background-size: contain;
  width: calc(100% - 120px);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}


.text-vertical {
  writing-mode: vertical-rl;
  letter-spacing: 0.75em;
}

.go-top {
  position: absolute;
  top: 40px;
  right: 60px;
}

.y-btn {
  border: 12px solid orange;
  border-image-source: url(img/bg-btn-brown.webp);
  border-image-slice: 33.4% fill;
  border-image-repeat: repeat;
}