

.form,
.form-l {
    width: 100%;
    border: rem(30) solid orange;
    border-image-source: url(img/bg-form.webp);
    border-image-slice: 33.4% fill;
    border-image-repeat: repeat;
    height: 50px;
}

.form-l {
    height: rem(300);
}

.y-bg-button {
    border: 30px solid orange;
    border-image-source: url(img/bg-button.webp);
    border-image-slice: 33.4% fill;
    border-image-repeat: repeat;
}

