.y-w-3-6 {
    width: calc(100%/6*3); /* 6分割中の3 */
}
.y-w-6-8 {
    width: calc(100%/8*6); /* 8分割中の6 */
}

/* マップ用。30px(1.875rem)はボーダー画像分*/
.y-w-6-10-m60add {
    width: calc( calc(100% + 1.875rem + 1.875rem) /10*6); /* マージン左右30pxずつ足した上で8分割中の6 */
}

/* RSVPフォーム用。30px(1.875rem)はボーダー画像分*/
.y-w-6-8-m60add {
    width: calc( calc(100% + 1.875rem + 1.875rem) /8*6); /* マージン左右30pxずつ足した上で8分割中の6 */
}

.y-w-6-10 {
    width: calc(100%/10*6); /* 10分割中の6 */
}
.y-w-12-10-m60 {
    width: calc(calc(100% - 2*3.75rem) /12*10);
    /* マージン左右60pxずつとった上で12分割中の10 */
}

.y-w-1-12 {
    width: calc(100%/12*1); /* 12分割中の1 */
}
.y-w-3-12 {
    width: calc(100%/12*3); /* 12分割中の3 */
}
.y-w-5-12 {
    width: calc(100%/12*5); /* 12分割中の5 */
}
.y-w-6-12 {
    width: calc(100%/12*6); /* 12分割中の6 */
}
.y-w-8-12 {
    width: calc(100%/12*8); /* 12分割中の8 */
}

.y-w-10-12 {
    width: calc(100%/12*10); /* 12分割中の10 */
}
.y-w-12-12-m60 {
    width: calc(calc(100% - 2*3.75rem) /12*12);
    /* マージン左右60pxずつとった上で12分割中の12 */
}

